body {
    margin: 10px;
}
.warp, .bc {
    display: block;
}
.a,.b,.c,.f {
    background: #d9d9d9;
    margin-bottom: 10px;
}
.a,.b,.c {
    height: 200px;
}
.a {
    width: 100%;
}
.fbc, .ccc {
    display: flex;
    column-gap: 10px;
}
.bc {
    width: 75%;
}
.f {
    width: 25%;
}
.c {
    width: 33%;
}
@media screen and (min-width: 0px) and (max-width: 992px) {
   .b {
       height: 400px;
   }
    .fbc {
        flex-direction: column;
    }
    .bc, .f {
        width: 100%;
    }
    .f {
        height: 200px;
    }
}
