* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
}
.wrap {
    max-width: 1400px;
    margin: 0 32px;

}
:root { --black:#0B2330; --yellow: #F9C600}
.top_bar, .Naw_header_categories_left, .Naw_header_categories_right,
.header_butn, .Main_cont_logo_companies
{
    display: flex;
    align-items: center;
}
.wrap_header_content {
    display: flex;
    align-items: flex-start;
    margin-top: 14px;
}
.Naw_header_categories_right_item a, .Naw_header_categories_left a {
   font-size: 16px;
    line-height: 24px;
color: var(--black);
    text-decoration: none;
}
.top_bar {
    margin: 10px 0 0 10px;
    justify-content:space-between;
}
.Naw_header_categories_right {
    column-gap: 56px;
}
.Naw_header_categories_left {
    column-gap: 24px;
}
.Naw_header_categories_left button {
    background: var(--black);
    border: 1px solid var(--black);
    color: #FFFFFF;
}
.btn {
    height: 54px;
    padding: 15px 29px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.yellow_btn {
    background: var(--yellow);
    color: var(--black);
    border: 1px solid var(--yellow);
}
.transerent_btn {
    background: transparent;
    color: var(--black);
    border: 1px solid var(--black);
}
.header_butn {
    column-gap: 16px;
}
.header_content {
    align-items: flex-start;
}

.header_content_h1 {
    text-align: left;
    font-size: 60px;
    line-height: 64px;
    margin: 154px 147px 32px;
    color: var(--black);
}
.header_content_txt {
    font-size: 22px;
    line-height: 32px;
    margin: 0 147px 38px;
    color: #375361;
}
.header_butn {
    margin: 0 147px
}
.header_content_img {
    max-width: 50%;
    /*margin: 189px;*/
}
.header_image_back {
    max-width: 450px;
    min-width: 50%;
}

/*.header_image_front {*/
/*    position: relative;*/
/*    top: -481px;*/
/*}*/

.header_image_back  {
    position: absolute;
    /*right: -130px;*/
    max-height: 886px;
    /*width: 600px;*/
    /*height: 886px;*/
    }
.header_image_front {
    position: relative;
    top: 172px;
    right: 50px;
}
.header_image_bottom {
    position: absolute;
    right: 0px;
    top: 850px;
}
.wrap_maincont_comp {
    margin-top: 445px;
}
.maincont_comp_h {
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    margin: 0 400px;
    color: var(--black);
}
.Main_cont_logo_companies {
    justify-content: center;
    column-gap: 83px;
    margin-top: 59px;
}
