/*body {*/
/*    max-width: 1440px;*/
/*}*/
* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: var(--black);
}
/*.wrap {*/
/*    !*width: 1334px;*!*/
/*    margin: 0 32px;*/
/*    box-sizing: border-box;*/
/*}*/

:root { --black:#0B2330; --yellow: #F9C600}

.top_bar, .Naw_header_categories_left, .Naw_header_categories_right,
.header_butn, .Main_cont_logo_companies, .green_box, .second_yellow_btn, .img_card, .ar_im_acard, .integrations_block, .case_study_blok, .yellow_box_logo_name,.footer_btn,.Footer_recta, .footer_end {
    display: flex;
    align-items: center;
}
.wrap_header_content {
    display: flex;
    align-items: flex-start;
    margin-top: 14px;
}
.Naw_header_categories_right_item a, .Naw_header_categories_left a {
   font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
}
.top_bar {
    /*margin: 10px 0 0 10px;*/
    justify-content:space-between;
    margin: 14px 32px 0 32px
}
.Naw_header_categories_right {
    column-gap: 56px;
}
.Naw_header_categories_left {
    column-gap: 24px;
}
.Naw_header_categories_left button {
    background: var(--black);
    border: 1px solid var(--black);
    color: #FFFFFF;
}
.btn {
    height: 54px;
    padding: 15px 29px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.yellow_btn {
    background: var(--yellow);
    color: var(--black);
    border: 1px solid var(--yellow);
}
.transerent_btn {
    background: transparent;
    color: var(--black);
    border: 1px solid var(--black);
}
.header_butn {
    column-gap: 16px;
}

.header_content_h1 {
    text-align: left;
    font-size: 60px;
    line-height: 64px;
    margin: 154px 147px 32px;
    }
.header_content_txt {
    font-size: 22px;
    line-height: 32px;
    margin: 0 147px 38px;
    color: #375361;
}
.header_butn {
    margin: 0 147px
}
.header_content_img {
    max-width: 50%;
    /*margin: 189px;*/
}
/*.header_image_back {*/
/*    max-width: 450px;*/
/*    min-width: 50%;*/
/*}*/

/*.header_image_front {*/
/*    position: relative;*/
/*    top: -481px;*/
/*}*/

.header_image_back  {
    /*display: flex;*/
    /*max-width: 450px;*/
    /*min-width: 50%;*/
    position: absolute;
    /*justify-content: flex-end;*/
    /*right: -130px;*/
    /*max-height: 886px;*/
    width: 600px;
    height: 886px;
    margin-right: 0;
    }
.header_image_front {
        position: relative;
    top: 172px;
    right: 50px;
}
.header_image_bottom {
    position: absolute;
    right: 0;
    top: 850px;
}
.main_container  {
    margin: 445px 32px 0 32px;

}
/*.wrap_maincont_comp {*/
/*    margin-top: 445px;*/
/*}*/
.maincont_comp_h {
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    margin: 0 400px;

}
.Main_cont_logo_companies {
    justify-content: center;
    column-gap: 83px;
    margin-top: 59px;
}
/*.green_box_fig {*/
/*    display: block;*/
/*    margin: 0 auto;*/

/*}*/
.green_box {
    min-width: 1376px;
    height: 494px;
    border-radius: 10px;
    background: #51CEBC;
    /*margin-top: 192px;*/
    margin: 192px auto 0;


}
.green_box_texts {
    max-width: 557px;
    margin: 114px 0px 161px 20px;
}
.green_box_h {
    font-size: 34px;
    line-height: 40px;
    margin-bottom:  21px;
}
.green_box_txt {
    font-size: 22px;
    line-height: 32px;

}
.txt_under_green_box {
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    margin: 191px 365px 57px;
}
.img_centr {
    display: block;
    margin: 0 auto 127px;
}

.second_yellow_btn {
    justify-content: center;
    padding-bottom: 176px;
}
.violet_rec {
    height: 537px;
    width: 1400px;
    background: #BD78F0;
    margin-left: 100px;
    margin-right: 32px;
    position: absolute;
    border-radius: 10px;
    z-index: 0;
}
.violet_rec_and_img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 300px;

}
.img_card {
        position: absolute;
z-index: 1;
    margin-left: 32px;
    /*width: 1260px;*/
    /*height: 537px;*/

}
.Txt_violet_card h2 {
    font-size: 42px;
    line-height: 48px;
    padding-right: 193px;
    margin: 103px 0 39px 136px;

}
.Txt_violet_card p {
    font-size: 17px;
    line-height: 28px;
    margin: 0 128px 147px 136px;
}
.warp_under_violet {
    margin-left: 148px;
}
.p1_ander_violet_block {
    font-size: 14px;
    line-height: 24px;
    color: #6A7981;
    letter-spacing: 1.4px;
    margin: 488px 1198px 13px 0;
}
.h2_ander_violet_block {
    font-size: 42px;
    line-height: 48px;
    margin: 0 699px 26px 0;
}
.p2_ander_violet_block {
    font-size: 22px;
    line-height: 32px;
    /*margin-left: 148px;*/
}
.news_blok {
    display: flex;
    column-gap: 263px;
    margin-top: 92px;
}
.logo_and_tex {
    /*display: block;*/
    /*margin-left: 148px;*/
}
.logo_and_tex h3 {
    font-size: 34px;
    line-height: 40px;
    margin-top: 23px;
    letter-spacing: 0.34px;
}
.logo_and_tex p {
    color: #375361;
    font-size: 17px;
    line-height: 28px;
    margin-top: 29px;
}
.logo_and_tex button {
    margin-top: 64px;
}
.warp_news_block {
    column-gap: 140px;
}
.buttons_bottom_news {
    display: flex;
    column-gap: 8px;
    margin-top: 18px;
    /*margin-left: 148px;*/
}
.little_btn {
    background: #E7EAEB;
    font-size: 12px;
    line-height: 16px;
    border-radius: 4px;
    color: #61757E;
    padding: 3px 8px 4px;
    border: 1px solid #E7EAEB;
    /*text-align: left;*/
    text-transform: uppercase;
    letter-spacing: 1.2px;

}
.yellow_little_btn {
    background: #FE9F28;
    color: var(--black);
}
.arrow_cont {
    width: 100%;
    height: 960px;
    margin: 152px 0 160px;
    background: #F2EDE7;
    padding: 95px 122px;
    /*box-sizing: border-box;*/

}
.arrow_cont_p, .text_button p, .case_study_button_txt p {
    font-size: 14px;
    line-height: 24px;
    color: #6A7981;
    letter-spacing: 1.4px;
}
.arrow_cont_h1 {
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;

}
.ar_im_acard {
    justify-content: space-between;
    margin-top: 119px;
    align-items: flex-start;
}
#accordionFlushExample {
    width: 589px;
}
.accordion-item {
    background: #F2EDE7;
}
.accordion-button collapsed {
    color: #F2EDE7;
        border: none;
    border-top: 2px solid #C3CACD;
}
.acord_p1, .acord_p2,.acord_p3 {
    font-size: 17px;
    line-height: 28px;
}
.acord_p1, .acord_p2 {
    color: #375361;
}
.acord_p1 {
    margin-top: 25px;
}
.acord_p2 {
    margin-top: 36px;
}
.acord_p3 {
    margin: 35px 0 23px;
}
.text_button p,.case_study_button_txt p {
    font-size: 17px;
    line-height: 28px;
    color: #375361;
}
.integrations_block h3 {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
}
.integrations_block {
    padding: 0 0 240px 148px;
    column-gap: 183px;
}
.case_study_blok {
    width: 100%;
    background: #F2EDE7
;
}
.case_study_button_txt {
width: 562px;
    height: 584px;
    padding: 80px 121px 198px 116px;
}
.case_study_button_txt h3 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 17px;
}
.case_study_button_txt p {
    margin-top: 27px;
}

.case_study_button_txt button {
    margin-top: 36px;
}
.yellow_box {
    width: 794px;
    height: 584px;
    background: var(--yellow);
}
.yellow_box > img {
    position: absolute;
}
.yellow_bx_tex_logo {
    padding: 79px 121px 104px 115px;
}
.yellow_bx_tex_logo h1 {
    font-size: 34px;
    line-height: 40px;
    color: #000000;
}
.yellow_box_logo_name {
    margin-top: 81px;
    column-gap: 24px;

}
.yellow_box_logo_name p {
    margin: 0;
}
.yellow_logo_mane_job_p1 {
    font-size: 16px;
    line-height: 24px;
}
.yellow_logo_mane_job_p2 {
    font-size: 17px;
    line-height: 28px;
    color: #2F3F48;
}
.footer_wrap{
    background: var(--black);
}
.footer_up {
    display: block;
    /*background: var(--black);*/
    padding-top: 53px;
    padding-bottom: 95px;
    margin-top: 46px;
}
.footer_up h1 {
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.42px;
    color: white;
}
.footer_up p {
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: white;
    padding: 31px 399px 0 399px;
}
/*.footer_up button {*/
/*    padding: 36px auto 95px;*/
/*}*/
.footer_btn {
    justify-content: center;
    padding-top: 36px;
}
.Footer_recta div {
    width: 100%;
    height: 1px;
    background: #375361;
    margin: 0 32px 0 32px;

}
.Footer_recta {
    justify-content: center;

    /*padding-bottom: 80px;*/
}
.foter_txt_main {
 font-size: 16px;
    line-height: 24px;
    color: #94A0A4;
    width: 127px;
}
.foter_txt_yell {
    color: var(--yellow);
}
.footer_tex_wrap {
    display: flex;
    column-gap: 110px;
    align-items: flex-start;
    padding-top: 80px;
    padding-left: 32px;
}
.footer_end {
    justify-content: space-between;
    padding: 69px 268px 220px 150px;

}
.footer_end p {
    font-size: 14px;
    line-height: 20px;
    color: #94A0A4;

}
