.flex {
    display: flex;
}
.block {
    display: block;
    border: 2px solid blue;
    width: 600px;
}
.background {
    background: #d8d8d8;
    margin: 10px;
}
.height600 {
    height: 600px;
}
.height200 {
    height: 200px;
}
.width1_3 {
    width: 33.3%;
}
.width2_3 {
    width: 66.6%;
}
.border-radius {
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px;
}

