.wrap {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 10px;
}

.monster:nth-child(2n) {
    background: #e57954;
/*.wrap :nth-child(4) {*/
/*    background: #e57954;*/
}
.wrap,.monster,.left,.write {
    display: flex;
    min-height: 100px;
    align-items: center;
}
.monster {
    /*background: #6bba67;*/
    border: 3px solid #0B2330;
    column-gap: 10px;
        width: 200px;

}
.left {
    flex-direction: column;
}
.write {
    justify-content: center;
}
.left > p,h2 {
    text-align: center;
    margin: 0;
    padding: 10px;
}
.skillsbox {
    display: flex;
    flex-direction: column;
}
.skills {
    height: 20px;
    width: 20px;
    background: #631f08;
    margin: 5px;
    border-radius: 50%;
    position: relative;
    right: 50%;
}
.one:nth-child(2n+4) {
    background: #7ccce3;
}
