body > div {
    height: 500px;
}

.width {
    width: 400px;
}
.bor-box {
    box-sizing: border-box;
}
.disp-block {
    display: block;

}
.darkBlue {
    background: #2269bb;
    width: 33.3%;

}
.blue {
    background: #1c395d;
}
.flex {
    display: flex;
    column-gap: 10px;

}
.height50 {
    height: 50%;
}
.marg10 {
    margin: 10px;
}